/*-------General-------*/

.row {
    max-width: 70em;
}

ul {
    list-style-type: none;
}


/*-------TopBar------*/

.top-bar {
    margin-bottom: 10px;
}

.breadcrumbs {
    background-color: #fff;
    border-radius: 0px;
    border-left: 0px;
    border-right:  0px;
}

/*-------Orbit-------*/

.orbit-container .orbit-slides-container > * .orbit-caption {
    right: 100px;
    width: 400px;
    bottom: 40px;  
}

.orbit-timer {
    display: none;
}

