@{
    var contents = ( IList<dynamic> )Enumerable.Cast<dynamic>( Model.Content.Items[0].ContentField.MediaParts );
}

@helper DisplayOrbit( IList<dynamic> items )
{
    if( items.Count == 0 ) { return; }

    IList<string> orbitOptions = new List<string>();

    orbitOptions.Add( "timer_speed: 5000" );
    orbitOptions.Add( "slide_number: false" );
    orbitOptions.Add( "animation: fade" );
    orbitOptions.Add( "resume_on_mouseout: true" );
    
    @Html.Raw( String.Format( "<ul data-orbit data-options=\"{0}\">",
        String.Join( @";", orbitOptions )
        ));

    foreach(var item in items)
    {
        @Html.Raw(String.Format(
            "<li><img src=\"{0}\"/><div class=\"orbit-caption\">{1}</div></li>",
            item.MediaUrl,
            item.Caption
            ));
    }

    @Html.Raw("</ul>");
}

<div class="slideshow-wrapper">
    <div class="preloader"></div>
    @DisplayOrbit( contents )
</div>